@import "bootstrap/bootstrap.less";
@import "simplex/variables.less";
@import "simplex/bootswatch.less";

@details-bg: darken(@body-bg, 5%);
@comments-bg: darken(@body-bg, 10%);
@timestamp-color: lighten(@gray,50%);
@icon-font-path:          "../fonts/";

// Honey pot to fool bots (probably best not to use the word "honey"
// in its name or class)
.badger {
    display: none !important;
}

.content {
    min-height: calc(~"100% - 80px");
}

.footer {
    .container();
    color: @gray-light;
}

html, body {
    height: 100%;
}


.snippet-view {
    .make-row();

    overflow: hidden;
    
    .player {
        .make-lg-column(7);

        video {
            width: 100%;
        }
    }
    

    .details {
        .make-lg-column(5);
        
        background-color: @details-bg;

        .header {
            text-align: center;
            margin-bottom: 15px;

            .timestamp {
                color: @timestamp-color;
                position: absolute;
                top: 5px;
                right: 15px;
            }
            
            .pre-order, .order {
                .btn();
                .btn-primary();
            }
            
            .order-count {
                color: @gray;
                margin-top: 10px;
            }
        }

        .comments {
            .make-row();
            height: 100%;
            background-color: @comments-bg;

            & > ul{
                .list-unstyled();
                margin: 15px;
                overflow-y: scroll;
                overflow-x: hidden;
                margin-bottom: 20px;

                .comment {
                    clear: left;
                    margin-bottom: 10px;
                    
                    .timestamp {
                        color: @timestamp-color;
                        float: right;
                    }
                    .avatar {
                        .glyphicon();
                        .glyphicon-user();
                        font-size: 2em;
                        float: left;
                        margin-right: 10px;
                        margin-top: 5px;
                    }
                    .username {
                    }
                    .text {
                    }
                }
            }
            
            .newcomment {
                position: absolute;
                bottom: 0px;
                width: 100%;
                left: 0px;
                right: 0px;
                input {
                    .form-control();
                    display: inline;
                    width: calc(~"100% - 100px");
                }
                button {
                    width: 95px;
                }
            }
        }
    }
}


.upload-view {
    .make-row();
    
    .upload {
        .make-md-column(6);
        .make-md-column-offset(3);
        .panel();
    }
}


.accounts-view {
    .make-row();
    
    .accounts-form {
        .make-md-column(6);
        .make-md-column-offset(3);
        .panel();

        .twitter {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .or {
        font-size: 30px;
        font-weight: bold;
        clear: both;
        width: 100%;
        text-align: center;
        margin: 20px;
    }
}

// Used on user view and on the homepage
.snippet-list {
    .make-row();

    .snippet {
        .make-sm-column(6);
        .make-md-column(4);

        .thumbnail {
            // From bootstrap
            .caption {
                // From bootstrap
                .counts {
                    font-size: 80%;
                    color: @gray;
                }
            }

            .view-snippet {
                .btn-default();
                display: block;
            }
        }

        
    }
}

// A button and a progress bar at the bottom of a form
.form-actions-with-progress {
    .make-row();
    .action {
        .btn();
        .btn-primary();
        .make-xs-column(12);
        .make-sm-column(3);
    }

    .status {
        display: none;
        margin-top: 10px;
        .make-xs-column(12);
        .make-sm-column(9);

        .text {
            float: left;
        }

        .progress {
            margin-left: 80px;
        }

        
    }

}
