{% load compressed %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Spawnsong{% endblock %}</title>
    <meta charset="utf-8" />
    {% compressed_css 'styles' %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Spawnsong</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          
          <ul class="nav navbar-nav">
            <li><a href="/upload/" >Upload a Song Snippet</a></li>
            <li><a href="/personal-playlist/" >Personal Playlist</a></li>
          </ul>

          <p class="navbar-text navbar-right">
            {% if user.is_authenticated %}
            {% if user.artist %}<a class="navbar-link" href="{{ user.artist.get_absolute_url }}">{{ user.username }}</a>{% else %}{{ user.username }}{% endif %}
            <a class="navbar-link" href="/logout/?next=/" >(log out)</a>
            {% else %}
            <a href="/login/" class="navbar-link">Log In/Sign Up</a>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
    
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>

    <footer class="footer">&copy; 2013-{% now "Y" %} Spawnsong.com</footer>
    
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      var STRIPE_PUBLIC_KEY = "{{ STRIPE_PUBLIC_KEY }}";
      var LOGGED_IN_USER_EMAIL = {% if user.email %}"{{ user.email|escapejs }}"{% else %}null{% endif %}
    </script>
    {% compressed_js 'scripts' %}
  </body>
</html>
