{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{{ snippet.title }} by {{ user.username }} | Spawnsong{% endblock %}

{% block content %}

<script>
  var SONGSPAWN_BEAT_LOCATIONS = {{beats_json}};
</script>

<div class="container">
  <div class="snippet-view" id="snippetContainer">
    <div class="player" id="playerContainer">
      {% thumbnail snippet.image "652" crop="center" as im %}
      <img src="{{ im.url }}" class="img-responsive" id="playerImage">
      {% endthumbnail %}
      {% if snippet.audio_ready %}
      <audio id="audioPlayer" width="653" height="30" controls="controls" preload="none">
        <source type="audio/mp3" src="{{ snippet.audio_mp3.url }}" />
        <object width="320" height="240" type="application/x-shockwave-flash" data="{{ STATIC_URL }}mediaelement/flashmediaelement.swf">
          <param name="movie" value="{{ STATIC_URL }}mediaelement/flashmediaelement.swf" />
          <param name="flashvars" value="controls=true&file={{ snippet.audio_mp3.url }}" />
          <!-- Image as a last resort -->
          Sorry, audio playback is not support on your browser.
        </object>
      </audio>
      {% else %}
      Processing...
      {% endif %}
    </div>
    <div class="details" id="detailsContainer">
      <div class="header">
        <h1 class="snippet-title">{{ snippet.title }}</h1>
        <h2 class="username artist">by <a href="{{ snippet.song.artist.get_absolute_url }}">{{ snippet.song.artist.get_display_name }}</a></h2>
        <span class="timestamp">{{ snippet.created_at|naturaltime}}</span>
        <button class="{% if snippet.is_complete %}pre-order{% else %}order{% endif %}" id="order">{% if not snippet.is_complete%}Pre {% endif %}Order</button>
        {% if order_count > 0 %}<div class="order-count">{{ order_count }} {% if not snippet.is_complete%}Pre {% endif %}Order</div>{% endif %}
        
      </div>
      <div class="comments" id="comments">
        <ul>
          {% for comment in snippet.comment_set.all %}
          <li class="comment">
            <span class="avatar"></span>
            <div class="timestamp">{{ comment.created_at|naturaltime }}</div>
            <div class="username">{{ comment.user.username }}</div>
            <div class="text">{{ comment.content }}</div>
          </li>
          {% endfor %}
        </ul>
        <div class="newcomment">
          <span class="avatar"></span>
          <form action="." method="post" onsubmit="spawnsong.snippet.post_comment(); return false">
            {% csrf_token %}
            <!-- Honey-pot: --> <input class="badger" name="badger" placeholder="Don't type anything in this field.">
            <input id="commentText" name="comment"> <button class="btn" id="addcomment">Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
