{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ snippet.title }} by {{ user.username }} | Spawnsong{% endblock %}

{% block content %}

<script>
  var SONGSPAWN_SNIPPET_DETAILS = {{snippet_details_json|safe}};
</script>


<div class="container">
  {% if paymentsuccess %}
  <div class="alert alert-success">
    <b>{% if snippet.is_complete %}Order{% else %}Pre Order{% endif %} Successful!</b>
    {% if snippet.is_complete %}
    Thanks for your order, the song will be emailed to you soon!
    {% else %}
    Thanks for your pre-order, the finished song will be sent to you when it's ready!
    {% endif %}
  </div>
  {% endif %}
  {% if paymenterror %}
  <div class="alert alert-danger">
    <b>{% if snippet.is_complete %}Order{% else %}Pre Order{% endif %} failed</b> {{ paymenterror }}
  </div>
  {% endif %}
  
  
  <div class="snippet-view" id="snippetView">
    <div class="player" id="playerContainer">
      <div class="image-container">
        <div class="overlay" id="playButtonOverlay">&nbsp;</div>
        {% thumbnail snippet.image "652" crop="center" as im %}
        <img src="{{ im.url }}" id="playerImage">
        {% endthumbnail %}
      </div>
      {% if snippet.audio_ready %}
      <audio id="audioPlayer" width="653" height="30" controls="controls" preload="auto">
        <source type="audio/mp3" src="{{ snippet.audio_mp3.url }}" />
        <object width="320" height="240" type="application/x-shockwave-flash" data="{{ STATIC_URL }}mediaelement/flashmediaelement.swf">
          <param name="movie" value="{{ STATIC_URL }}mediaelement/flashmediaelement.swf" />
          <param name="flashvars" value="controls=true&file={{ snippet.audio_mp3.url }}" />
          <!-- Image as a last resort -->
          Sorry, audio playback is not support on your browser.
        </object>
      </audio>
      {% else %}
      Processing...
      {% endif %}
    </div>
    <div class="details" id="detailsContainer">
      <div class="header">
        <h1 class="snippet-title">{{ snippet.title }}</h1>
        <h2 class="username artist">by <a href="{{ snippet.song.artist.get_absolute_url }}">{{ snippet.song.artist.get_display_name }}</a></h2>
        {% if editable and not edit_mode %}
        <a href="?edit" class="edit-link">edit</a>
        {% endif %}
        <span class="timestamp">{{ snippet.created_at|naturaltime}}</span>
        {% block orderButton %}
        <button {% if edit_mode %}disabled{% endif %} class="{% if snippet.is_complete %}pre-order{% else %}order{% endif %}" id="order">{% if not snippet.is_complete%}Pre {% endif %}Order</button>
        {% if not snippet.is_complete and editable %}
        <div><a href="{{ snippet.get_absolute_url }}upload-full/" class="upload-full-link">(upload full song)</a></div>
        {% endif %}
        {% endblock %}
        <form id="orderForm" style="display: none" method="post" action="/purchase/">
          {% csrf_token %}
          <input name="email">
          <input name="token">
          <input name="snippet_id" value="{{ snippet.id }}">
        </form>
        {% if order_count > 0 %}<div class="order-count">{{ order_count }} {% if not snippet.is_complete%}Pre {% endif %}Order</div>{% endif %}
        
      </div>
      {% block commentsArea %}
        {% if edit_mode %}
        <div class="edit">
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form|crispy }}
            <div class="form-actions">
              {% if snippet.state == "ready" %}
              <input type="submit" name="publish" class="btn btn-primary" value="Publish">
              <input type="submit" name="update" class="btn" value="Update">
              {% else %}
              <input type="submit" name="update" class="btn btn-primary" value="Save">
              {% endif %}
              <input type="submit" name="delete" class="btn" value="Delete" onclick='return confirm("Are you sure you want to delete this song snippet?")'>
            </div>
          </form>
        </div>
        {% else %}
        
        <div class="comments" id="comments">
          <ul>
            {% for comment in snippet.comment_set.all %}
            <li class="comment {% if comment.user == snippet.song.artist.user %}artist-comment{% endif %}">
              <span class="avatar"></span>
              <div class="timestamp">{{ comment.created_at|naturaltime }}</div>
              <div class="username">{{ comment.user.username }}</div>
              <div class="text">{{ comment.content }}</div>
            </li>
            {% endfor %}
          </ul>
          <div class="newcomment">
            <span class="avatar"></span>
            {% if user.is_authenticated %}
            <form action="." method="post" onsubmit="spawnsong.snippet.post_comment(); return false">
              {% csrf_token %}
              <!-- Honey-pot: --> <input class="badger" name="badger" placeholder="Don't type anything in this field.">
              <input id="commentText" name="comment"> <button class="btn" id="addcomment">Comment</button>
            </form>
            {% else %}
            
            <div class="cantcomment">Please login to make a comment</div> <a href="/login/?next={{ snippet.get_absolute_url }}" class="btn btn-default">Log In</a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endblock commentsArea %}
    </div>
  </div>
</div>
{% endblock content %}
