{% load thumbnail %}
{% load pagination_tags %}
{% autopaginate snippets 20 %}

<div class="snippet-list">
  {% for snippet in snippets %}
  <div class="snippet">
    <div class="thumbnail">
      <a href="{{ snippet.get_absolute_url }}">
      {% thumbnail snippet.image "350x230" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      </a>
      <div class="caption">
        <h3>{{ snippet.title }}</h3>
        <p class="counts">
          {{ snippet.order_count }} pre-orders, {{ snippet.comment_count }} comments
        </p>
        <p><a href="{{ snippet.get_absolute_url }}" class="btn view-snippet" role="button">Listen Now</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% paginate %}
